.header {
    width: 400px;
    line-height: 20px;
}

.header h1 {
    font-size: 36px;
    color: #e2e8f0;
    font-weight: 700;
    letter-spacing: -2px;
}

.header h3 {
    color: #d4d6d8;
    font-size: 18px;
    font-weight: 500;
}

.header p {
    color: #64748b;

}